.safety-precautions-container {
  margin-top: 10px;
  .safety-precautions {
    .btn-group > .btn {
      float: none;
      margin-top: 5px;
    }
    .glyphicon-remove {
      color: red;
    }
  }
  .add-precaution {
    display: block;
  }
}