.live-icon {
  color: red;
  display: inline;
}

.live-table {
  table-layout: auto;
  width: 0;
  min-width: 50%;
  max-width: 70%;
  margin: auto;
  .immediate {
    td {
      background-color: #f1c40f;
    }
  }
  .emergency {
    td {
      background-color: rgba(231, 76, 60,1.0);
    }
  }
  .action,.potential,.awareness {
    td {
      background-color: #fcf8e3;
    }
  }

  .see-alert-button {
    margin-top: 0;
  }

  .table-date {
    font-weight: bold;
  }

  .table-see-alert {
    width: 85px;
  }
}

.county-choices {
  max-width: 80%;
  margin: 20px auto auto auto;
  justify-content: center;
  display: flex;
}